<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Examen Corte 2</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet"
        integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous">
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.bundle.min.js"
        integrity="sha384-MrcW6ZMFYlzcLA8Nl+NtUVF0sA7MsXsP1UyJoMp4YLEuNSfAP+JcXn/tWtIaxVXM"
        crossorigin="anonymous"></script>
        <link rel="stylesheet" href="/public/css/estilo_header.css">
        
</head>

<body class="container">
    <center>
        <div style="background-color:  lightblue"
            class="p-3 text-primary-emphasis bg-primary-subtle border border-primary-subtle rounded-3">
            <h1 style="font-weight: bold;">Colegio Patria</h1>
            <img src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcQ-AMEmcAvf415rNBFAPSx2OYakhAIUfgcbqbUePlvpOhxDeJwoTDz1GMAfgl795-GPB0U&usqp=CAU" alt="" width="200px" >
        </div>
    </center>