<nav class="navbar navbar-expand-lg navbar-dark bg-dark">
    <div class="container-fluid justify-content-center">
        <div>
            <div class="navbar-nav">
                <a class="nav-link" href="">Inicio</a>
                <a class="nav-link" href="/">Recibo de Pago</a>
                <a class="nav-link" href="">Contacto</a> 
            </div>
        </div>
    </div>
</nav>