<%-include('partials/header.ejs')%>
<%-include('partials/nav.ejs')%>


<style>
    .calculos {
            max-width: 600px;
            margin: 0 auto;
            padding: 20px;
            border-radius: 8px;
            box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
            align-items: center;
            margin: 20px;
            font-family: Arial, Helvetica, sans-serif;
            font-size: 14px;
        }
        input{
            width: 400px;
            height: 30px;
            border-radius: 5px;
            border: 1px solid gray;
        }
        select{
            width: 400px;
            height: 30px;
            border-radius: 5px;
            text-align: center;
        }
        button{
            border-radius: 5px;
            width: 400px;
            height: 30px;
            margin-bottom: 10px;
            background-color: blue;
            color: white;
            border: 0px;
        }
</style>
<div class="formulario">
    <center>
        <section class="calculos">
            <div id="formulario">
                <form action="/" method="post">
                
                    <label for="">Num.Docente</label><br>
                    <input type="number" name="numDocente" id="numDocente" required value=<%=numDocente%>> <br><br>
        
                    <label for="">Nombre</label><br>
                    <input type="text" name="nombre" id="nombre" required value=<%=nombre%>> <br><br>
        
                    <label for="">Domicilio</label><br>
                    <input type="text" name="domicilio" id="domicilio" required value=<%=domicilio%>> <br><br>
        
        
                    <select name="nivel" id="nivel" required>
                        <option disabled selected value="">Seleccione un nivel</option>
                        <option value="1">1. Licenciatura o Ingeniería</option>
                        <option value="2">2. Maestro en Ciencias</option>
                        <option value="3">3. Doctor</option>
                    </select><br><br>

        
                    <label for="">Pago Hora Base</label><br>
                    <input type="number" name="pagoHrBase" id="pagoHrBase" required value=<%=pagoHrBase%>> <br><br>

                    <label for="">Horas Impartidas</label><br>
                    <input type="number" name="hrsImpar" id="hrsImpar" required value=<%=hrsImpar%>> <br><br>

                    <label for="">Numero de hijos</label><br>
                    <select name="nHijos" id="nHijos" required>
                        <option disabled selected value="">Seleccione la cantidad de hijos</option>
                        <option value="1o2">1 o 2 hijos</option>
                        <option value="3a5">3 a 5 hijos</option>
                        <option value="5mas">Más de 5 hijos</option>
                    </select><br><br>

                    <button type="submit">Calcular</button><br>
                    <button type="reset"><a style="color: blue; text-decoration: none; color: white;" href="/">Limpiar</a></button>
                </form>
            </div>
        </section>   
        </center> 
</div>
<%-include('partials/footer.ejs')%>